
           <table>
                 <tbody>

              {% for item in items %}
                         <tr>
                         <td>{{ item.id }}</td>
                         <td><div class="edit-concepto" id="{{ item.id }}">{{ item.concepto }}</div></td>
                         <td><div class="edit-categoria" id="{{ item.id }}">{{ item.categoria }}</td>
                         <td style="text-align:right">$ <span class="edit-monto" id="{{ item.id }}">{{ item.monto }}</span></td>                  
                         </tr>
                        {% endfor %}               
                 </tbody>
                </table>
