{% extends "base_unacol.html" %}

{% block title %}{{ consorcio.nombre }} - Balance del {{ balance.fecha_vencimiento|date:"m\/Y" }}{% endblock title %}

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.ingrid-0.9.2.js"></script>
<link rel="stylesheet" href="/static/js/ingrid.css" type="text/css" media="screen" />
{% endblock %}


{% block jquery %}
<script type="text/javascript">
$(document).ready(
	function() {
		$("#balance").ingrid({ 
			url: '/balance/detalle-{{ balance.id }}',
			initialLoad: true,			
			height: {{ alto }},
			colWidths: [25,350,110,100],		// width of each column
			rowClasses: ['grid-row-style1','grid-row-style2'],
			resizableCols: false,
			paging: false,
			sorting: true
		});
	}
); 
</script>
{% endblock jquery%}


{% block unacol %}

<h2>Consorcio "{{ consorcio.nombre }}" - {{ balance.fecha_vencimiento|date:"F \de Y" }}</h2>
<p>vencimiento {{ balance.fecha_vencimiento|date:"d-m-Y" }} - Identificador de Balance: {{ balance.id }}</p>


<table id="balance">
<thead>
<tr><th>#</th><th>Concepto</th><th>Categoría</th><th>Monto</th></tr>
</thead>
<tbody>
</tbody>
</table>
<table><tr class="grid-row-style3"><td colspan="3" style="text-align:right" width="491px">Total:</td><td width="100px" style="text-align:right">$ {{ total }}</td></tr></table>



<!--#TODO crear otra vista/template para cargar cada item-->

<h2>Agregar/modificar Item</h2>

<form action="./" method="POST">
{{ form_add_item.as_p }}
<input type="submit" value="agregar al balance" />
</form>



{% endblock %}
