{% extends "base_general.html" %}

{% block extrahead %}
{% endblock %}

{% block jquery %}
{% endblock jquery%}


{% block nav %}
<ul id="nav">
	<li><a href="./balance/new">Nuevo Balance</a></li>
	<li><a href="./deptos">Modificar listado de departamentos</a></li>
</ul>
{% endblock%}	



{% block left %}

<h2>Consorcio "{{ consorcio.nombre }}" </h2>
<p>{{ consorcio.direccion }}</p>

<p>Este edificio tiene un total de {{ deptos|length }} departamentos </p>
 
<ul>
{% for depto in deptos %}
 <li><a href="./depto{{ depto.piso }}-{{ depto.ala }}"> {{ depto.piso }}º {{ depto.ala }}</a>  (Coeficiente: {{ depto.coeficiente }})</li>
{% endfor %} 
</ul>

{% endblock left %}



{% block box %}	
		<h2 style="margin-top:17px">Ultimos balances</h2>
		<ul>
        {% for balance in balances %}
			<li><a href="./{{ balance.fecha_vencimiento|date:"Y-m" }}/">Balance de {{ balance.fecha_vencimiento|date:"F \de Y" }}</a> </li>
        {% endfor %}
		</ul>
{% endblock box %}	