<P STYLE="margin-bottom: 0cm; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.07cm; padding-left: 0cm; padding-right: 0cm">
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm; font-weight: medium"><FONT FACE="Verdana, sans-serif"><FONT SIZE=4>Balance
{{ balance.fecha_balance|date:"F \de Y" }}</FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=168*>
	<COL WIDTH=51*>
	<COL WIDTH=37*>
	<TR VALIGN=TOP>
		<TD WIDTH=66%>
			<P ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>CONCEPTO</FONT></FONT></P>
		</TD>
		<TD WIDTH=20%>
			<P ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>CATEGORIA</FONT></FONT></P>
		</TD>
		<TD WIDTH=14%>
			<P ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>MONTO</FONT></FONT></P>
		</TD>
	</TR>
	{% for item in items %}
	<TR VALIGN=TOP>
		<TD WIDTH=66%>
			<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>{{ item.concepto }}</FONT></FONT></P>
		</TD>
		<TD WIDTH=20%>
			<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>{{ item.categoria }}</FONT></FONT></P>
		</TD>
		<TD WIDTH=14%>
			<P ALIGN=RIGHT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>$ {{ item.monto }}</FONT></FONT></P>
		</TD>
	</TR>
	{% endfor %}
	<TR VALIGN=TOP>
		<TD COLSPAN=2 WIDTH=86%>
			<P ALIGN=RIGHT><FONT FACE="Verdana, sans-serif"><FONT SIZE=3 STYLE="font-size: 13pt">Total
			Gastos del mes</FONT></FONT></P>
		</TD>
		<TD WIDTH=14%>
			<P ALIGN=RIGHT><FONT FACE="Verdana, sans-serif"><FONT SIZE=3 STYLE="font-size: 13pt">$
			{{ total }}</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
{% if balance.observaciones %}
<P STYLE="margin-bottom: 0cm"><FONT FACE="Verdana, sans-serif"><FONT SIZE=4><B>Observaciones</B>:
{{ balance.observaciones }} </FONT></FONT></P>{% endif %}
<P STYLE="margin-bottom: 0cm; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.07cm; padding-left: 0cm; padding-right: 0cm">
</P>