    {% extends "base_general.html" %}

{% block left %}

<h2>Consorcio "{{ consorcio.nombre }}" </h2>
<p>{{ consorcio.direccion }}</p>

<p>Balance de pagos del departamento {{ depto.piso }}º {{ depto.ala }} </p>

<ul>
{% for pago in pagos %}
 <li><a href="/consorcio/{{ consorcio_item.id }}"> Expensa {{ pago.balance.fecha_vencimiento|date:"F \de Y" }}</a> <br />
 {% if pago.fecha_pago %} Pagado el {{ pago.fecha_pago|date:"d-m-Y" }} {% else %} No pagado aun {% endif %} </li>
{% endfor %} 
</ul>
 


{% endblock left %}



{% block box %}	
		<h2 style="margin-top:17px">Ultimos balances</h2>
		<ul>
        {% for balance in balances %}
			<li><a href="./{{ balance.fecha_vencimiento }}/">Balance del {{ balance.fecha_vencimiento }}</a> </li>
        {% endfor %}
		</ul>
{% endblock box %}	
