{% extends "base_configuracion.html" %}

{% block extrahead %}
{% endblock %}


{% block jquery %}
{% endblock jquery%}


{% block left %}


<h2>Va a eliminar el consorcio <em>"{{ object.nombre }}"</em></h2>


<form action="" method="POST">
<p>Esto borrará todo el historial de pagos asociados a este consorcio <br/>

<strong>¿Está de acuerdo?</strong></p>
<input type="submit" value="Sí, Eliminar" />
<input type="button" value="Cancelar" onClick="document.location.href='/consorcios';"/>
</form>

{% endblock left %}


{% block nav %}	
{% endblock nav %}
{% block box %}	
{% endblock box %}	