{% extends "base_general.html" %}

{% block left %}

<h2>Consorcio "{{ consorcio.nombre }}" - {{ depto }}</h2>



<a href="/consorcio/{{ consorcio.id }}/{{ pago.balance.fecha_vencimiento|date:"Y-m" }}"> Expensa {{ pago.balance.fecha_vencimiento|date:"F \de Y" }}</a> 



Fecha de vencimiento: {{ pago.balance.fecha_vencimiento|date:"d\/m\/Y" }} <br/>
Monto: $ {{ pago.monto_a_pagar }}<br/>
Punitorios: $ {{ punitorios }}<br/>

<strong>TOTAL:</strong> ${{ total }}<br>

{% if not pago.fecha_pago %}


<form action="./exp{{ pago.id }}/cerrar" method="POST">
<input type="submit" value="PAGAR!" onclick="alert('Cancelar este saldo?')" />
</form>

{% else %}
Fecha de pago: {{ pago.fecha_pago|date:"d\/m\/Y" }} <br/>

{% endif %}





{% endblock left %}


{% block nav %}	
<ul id="nav">
<li><a href="./">Volver al historial de pagos</a></li>
<li><a href="/consorcio/{{ consorcio.id }}/{{ pago.balance.fecha_vencimiento|date:"Y-m" }}"> ver el balance de este mes</a></li>
</ul>
{% endblock %}	

{% block box %}	
{% endblock box %}	