    {% extends "base_general.html" %}

{% block left %}

<h2>"{{ consorcio.nombre }}" -{{ depto.piso }}º {{ depto.ala }} </h2>
<p>{{ consorcio.direccion }}</p>

<p>Historial de expensas  </p>

<ul>
{% for pago in pagos %}
 <li><a href="./exp{{ pago.id }}" title="Ver comprobante de pago o deuda"> Expensa {{ pago.balance.fecha_vencimiento|date:"F \de Y" }}</a> (<a href="/consorcio/{{ consorcio.id }}/{{ pago.balance.fecha_vencimiento|date:"Y-m" }}">ver balance</a>) <br />
Monto: $ {{ pago.monto_a_pagar }} <br>
Fecha de vencimiento: {{ pago.balance.fecha_vencimiento|date:"d\/m\/Y" }} <br/>
{% if pago.fecha_pago %} Pagado el {{ pago.fecha_pago|date:"d-m-Y" }} {% else %} No pagado aun {% endif %} </li>


{% endfor %} 
</ul>
 


{% endblock left %}

{% block nav %}	
<ul id="nav">
<li><a href="/consorcio/{{ consorcio.id }}">Ver detalle del consorcio</a></li>
<li><a href="./detalles">Actualizar los datos de este departamento</a> </li>
</ul>
{% endblock nav %}	

{% block box %}	
		<h2 style="margin-top:17px">Información de contacto</h2>
		<ul>
        <li><strong>Consorcista:</strong>{{ depto.nombre_consorcista }}</li>
        <li><strong>Teléfono:</strong>{{ depto.tel_consorcista }}</li>
        <li><strong>Email:</strong>{{ depto.email_consorcista }}</li>
        </ul>
        <hr style="border:1px solid #CCC"/>
        <ul>
        <li><strong>Propietario:</strong>{{ depto.nombre_propietario }}</li>
        <li><strong>Teléfono:</strong>{{ depto.tel_propietario }}</li>
        <li><strong>Email:</strong>{{ depto.email_propietario }}</li>
        </ul>        
		
{% endblock box %}	
